.add-todo-form {
  display:flex;
  gap:10px;
  align-items:center;
}

.add-todo-input {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.455);
  border: 1px solid rgb(255, 255, 255);
  transition: transform 0.7s ease, box-shadow 0.5s ease;
  color: #122656bf;
  flex:1;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

.add-todo-input:focus {
    box-shadow: 0px 3px 7px rgba(151, 147, 223, 0.692);
    border: 1px solid #107c7c1f;
}

.add-todo-btn {
    background: rgba(255, 255, 255, 0.455);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 14px;
    border-radius: 10px;
    color: #14326d66;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.7s ease, box-shadow 0.5s ease;
}

.add-todo-btn:hover {
    background: linear-gradient(120deg,#63bdf135,#925cf64d);
    box-shadow: 0px 4px 7px rgba(151, 147, 223, 0.692);
    transform: translateY(-2px);
    color: #ffffff;
    border: 1px solid rgba(68, 66, 135, 0.129);
}


/* .title {
  margin: 0 0 18px 0;
  text-align: center;
  color: #383866c2;
  font-size: 20px;
  font-weight: 600;
} */

.add-wrap {
  margin-bottom: 28px;
  border: 1px solid rgba(255, 255, 255, 0.893);
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0.208);
  border-radius: 15px;
  transition: transform 0.7s ease, box-shadow 0.5s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.add-wrap:hover {
    box-shadow: 0px 8px 17px rgba(151, 147, 223, 0.393);
      transform: translateY(-5px);
}