.search-bar {
  margin-bottom: 28px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.search-input {
  background: rgba(255, 255, 255, 0.208);
  width: 100%;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.43);
  font-size: 15px;
  outline: none;
  transition: border-color 0.7s ease, box-shadow 0.7s ease, transform 0.7s ease;
}

.search-input:hover {
    box-shadow: 0px 8px 17px rgba(151, 147, 223, 0.393);
    border-color: #0875d400;
    transform: translateY(-2px);
}

.search-input:focus {
    box-shadow: 0px 8px 17px rgba(151, 147, 223, 0.393);
}

.search-input::placeholder {
  color: rgba(107, 114, 128, 0.7);
}

