.app-root{
  min-height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 40px 16px;
}

.app-container {
  width: 100%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.236);
  border: 2px solid rgba(227, 235, 255, 0.392);
  backdrop-filter: blur(14px) saturate(140%);
  -webkit-backdrop-filter: blur(14px) saturate(140%);
  padding: 24px;
  box-shadow: 0 10px 30px rgba(20, 30, 60, 0.08);
  border-radius: 42px;
  transition: box-shadow 0.3s ease, transform 1s ease;

}

.app-container:hover {
  box-shadow: 0 20px 40px rgba(39, 59, 119, 0.347);
  transform: translateY(-5px);
}
