* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: linear-gradient(150deg, #96b198, #dedbd2, #edafb8);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #0f172a;
}
